# Dependencies
node_modules/

# Production build artifacts
dist/
build/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Configuration and Environment Variables
.env

# IDE and editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Miscellaneous
.DS_Store
*.tgz

# Local development files
src/
__tests__/
*.test.js
*.test.jsx
*.spec.js
*.spec.jsx

# Documentation
*.md
